*{margin: 0;
    padding: 0;
    }
    
    body{
        background-color: #eeeeee;
        font-family: 'Roboto', sans-serif;
    }
    
    .container{
        max-width: 1000px;
        background-color: #f5ff9b;  
        margin: 0 auto;  
        padding: 20px;
    }
    header{
    
    } 
    
    .profile-image{
        width: 100px;
        height: 120px;
        border: 3px solid white;
        border-radius: 50%;
       float: left;
     }
     .header-bio{
        float:left;
        padding: 30px;
    
     }
     h1, h2, h3, h4, h5, h6{
         color: #11999e;
     }
     
     .header-contract{
         float: right;
         padding: 30px;
     }
    
     .header-contract a {
        text-decoration: none;
        color: teal;
        font-weight: bold;
    
     }
     .header-contract a:hover{
        text-decoration: underline;
        color: tomato;
     }
    
     .div-clear{
         clear: both;
     }
    
     hr{
         border: solid black 3px;
         width: 100%;
         margin: 20px auto;
         border-bottom: none;
         
     }
    
     <!--Personal Information start-->
    
     #personal-section{
    
     }
    
     .content{
         margin-bottom: 30px;
        
     }
    
     .left-div{
        width: 30%;
        float: left;
     }
    
     .right-div{
        width: 70%;
        float: left;
     }
    
     .common-hr{
         border: solid black 1px;
         border-bottom: none;
         width: 100%;
         margin: 20px;
          }
    
    
    <!---education part->
    
    .edu-div-left{
        float:right;
        Width:45%;
    }
       
    .edu-div-left{
        float:left;
        Width:45%;
    }
    
    
    <!--bottom-container-->
    
    
    .bottom-container{
        background-color:black;
        text-align:center;
        padding:10px;
    }
    
    .bottom-container a{
        color:red;
        text-decoration:none;
        margin:20px;
        
    }

    .bottom-container{
        background-color: #11999e;
        text-align:center;
        padding:10px;
    }

    .bottom-container a{
        color: white;
        margin: 30px;

    }        

    .bottom-container p{
        color: red;
        margin: 20px;
        margin-right: 30px;
        text-align: center;
    }    

.bottom-container a:hover{
    text-decoration: underline;
    color: yellow;

     }


     .bottom-container p a{
         float: right;
         text-align:center;
         border-color: tomato;
     }